body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #575757;
    margin: 0px;
    padding: 0px 110px 3px 110px;
}
.botoes>a{
    border: 1px solid #E6A21C;
    margin: 2px;
    padding: 5px 10px;
    text-decoration: none;
    color: #ff6f00;
    font-size: 18px;
}
ul{
    padding: 0px;
}
header{
    background-image: url('logotipo.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 160px auto;
    margin: 10px;
    padding: 12px;
    border: 3px solid #E6A21C;
    background-color: black;
}
main{
    font-size: 16px;
    line-height: 1.5;
    margin: 10px;
    padding: 10px 10px 15px 10px;
    border: 2px solid #E6A21C;
    background-color: black;
    color: #E6A21C;
}
footer{
    margin: 10px;
    padding: 10px;
    border: 2px solid #E6A21C;
    background-color: black;
    color: #E6A21C;
    text-align: center;
}
div{
    margin: 10px;
    padding: 0px;
}       
h1{
    font-size: 36px;
    color: #E6A21C;
    margin: 20px 0;
}
h3{
    
    font-size: 24px;
    color: #ff6f00;
    margin: 10px 0;
}
section>h4{
    font-size: 22px;
    line-height: 1.5;
    margin: 10px 0;
    color: #ff6f00;
}
/* Tabela */
table, th, td{
    border: 1px solid #EB9530;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 10px;
    color: #EB9530;
    background-color: black;
    width: auto;
    margin: auto;}
    th{color: #EB9530;}



#cabecalho_tabela{
    background-color: black;
    color: #EB9530;
    font-size: 20px;
    text-align: center;
    border: 1px solid #EB9530;

}
.coringa_borda{
    border-left: 4px solid #ff6f00;
    margin: 0px;
    padding-left: 12px;
}
