/* === Layout Principal === */
main {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border: 2px solid #BF8D30;
    padding-bottom: 20px;
    margin: 40px auto;
    background-color: #2D4B73;
    height: auto;
    width: 70%;
    border-radius: 8px;
}
h1 {
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black, 4px 4px 0px black, 5px 5px 0px black, 6px 6px 0px black;
}

/* === Seção do Formulário === */
    #principal {
        position: relative;
        margin: 0px auto;
        width: 40%;
        height: auto;
    }

    #segundo {
        width: 50%;
        height: auto;
        margin: 0px auto;
        color: white;
        padding: 20px;
    }

/* === Elementos Gerais === */
div {
    margin: 10px auto;
    width: 500px;
    height: auto;
    padding: 2px;
    text-align: justify;
}
#interesse {
    width: 100%;
    text-align: center;
}
#genero {
    width: 100%;
    text-align: center;
}

/* === Campos do Formulário === */
#nome, #email {
    padding: 5px;
    color: black;
    text-align: justify;
    width: 500px;
    margin: auto;
}

#senha, #conf_senha {
    width: 200px;
    height: 20px;
}

#conf_senha {
    position: relative;
    left: 96px;
}

/* === Botões === */
#botao, #limpar {
    background-color: #BF8D30;
    text-align: center;
    position: relative;
    left: 550px;
    bottom: -10px;
    width: 100px;
    color: white;
}


/* === Upload de Arquivo === */
input::file-selector-button {
    background-color: white;
    width: 250px;
    font-size: 12px;
    box-shadow: 1px 1px 0px black, 1px 1px 0px black, 1px 3px 0px black, 1px 4px 0px black, 1px 5px 0px black, 1px 6px 0px black;
    background: white;
    margin: 0px auto;
}

input#file {
    margin: 0px auto;
    width: 87%;
    background-color: #BF8D30;
    color: white;
    box-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black, 4px 4px 0px black, 5px 5px 0px black, 6px 6px 0px black;
}

label.file {
    color: black;
    text-align: center;
}
#pais {
    width: 250px;
    height: 45px;
    color: black;
    text-align: center;
    margin: 0px auto;
    display: block;
    padding: 5px;
}
#pais>label{
    display: block;
    text-align: center;
    margin-bottom: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
#pais>select{
    display: block;
    margin: 0px auto;
    width: 150px;
    height: 20px;
    text-align: center;
    color: black;
    font-size: 12px;
}